
.todo {
    background-color: var(--bg-card);
    box-shadow: 0px 3px 6px var(--box-shadow);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 1.5em;
    margin: 1em 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo:hover {
    box-shadow: 2px 3px var(--hover-shadow);
    cursor: pointer;
    background-color: var(--hover-bg);
    transition: box-shadow 0.5s ease-in-out, background-color 0.8s ease-in-out;
}

.todo > button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: 0;
}

.todo > button:last-child {
    position: relative;
    margin-top: -7em;
    margin-left: -10em;
    cursor: pointer;
    background-color: var(--incompleted);
    color: var(--bg-white);
    border-radius: 50%;
    width: 20px;
    height: 20px;

}

.complete {
    background-color: #eff5f5;
    border-color: var(--completed);
    border-style: solid;
    border-width: 1px 10px 1px 1px;
}


.complete:hover {
    box-shadow: 2px 3px var(--bg-card);
    cursor: pointer;
    background-color: var(--hover-bg);
    transition: box-shadow 0.5s ease-in-out, background-color 0.8s ease-in-out;
}

.incomplete {
    border-right: 10px solid var(--incompleted);
}
